[submodule "are-you-board"]
	path = are-you-board
	url = https://github.com/abesto/are-you-board.git
	branch = master
[submodule "blog"]
	path = blog
	url = https://github.com/abesto/blog.git
	branch = master
